// $footer-height: 10px;
$tabs-boxed-link-active-background-color: #EECA81;
$tabs-link-active-color: white;


// $hero-colors: #EECA81;

@import "bulma/bulma.sass";

.hero-body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #EECA81;
    display: flex;
    align-items: right;
}

.tabs {
    background-color: #ba8e34;
}