.settings-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-wrapper {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    margin: 50px;
    width: 85%;
    align-items: center;
    padding-bottom: 40px;
    background-color: #f5ebd9;
  }
  
  .input-wrapper label {
    padding-top: 15px;
    font-size: x-large;
  }
  .input-wrapper input {
    width: 10rem;
    height: 2rem;
    font-size: x-large;
    text-align: center;
  }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.slider {
   display: flex;
   flex-direction: row;
   align-items: left;
}
.slider p {
    font-size: large;
    padding-right: 1rem;
}
.slider input {
   height: 2rem;
   width: 20rem;
  
}
.settings-card-content{
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  width: 38%;
  background-color: #6F491F;
  color: #633A10;
  margin-top: 50px;
}