.user-page {
    height:100%;
    width: 100%;
    float: right;
    padding: 2vw;
    margin-left: auto;

}

.header {
    width: 100%;
    text-align: right;
}

.col-left {
    width: 50%;
    float: left;
}

.col-right {
    width: 50%;
    float: right;
}

.table{
    table-layout: fixed;
    border-radius: 20px;
    border-collapse: collapse; 
}

.table-container-container {
    height: 60vh;
    overflow-y: auto; /* add scroll bar for vertical overflow */
}

.text-signed-in {
    font-size: 10vh;
    padding-bottom: 3vh;
}

.text-signed-out {
    font-size: 5vh;
    padding-bottom: 3vh;
}

.tea-img {

}

.sign-button {
    float: right;
}

/* Set styles for small screens */
@media (max-width: 600px) {
    .table-container-container {
      height: auto; /* remove fixed height */
      overflow-y: auto; /* hide scrollbar */
      width: 100%;
    }
    
    
    .table td::before {
      content: attr(data-label); /* add cell label */
      float: left; /* float label to left */
      font-weight: bold; /* bold label text */
    }
    .col-right {
        display: none; /* hide the col-right class */
      }
      .col-left {
        width: 100%;
        float: left;
    }
  }
  